<div class="blog-card bg-body dark:bg-darkmode-body p-4 border rounded-md shadow-md">
  {{ $image := .Params.image }}
  {{ if $image }}
    <img src="{{ $image }}" alt="{{ .Title }}" class="mb-4 w-full rounded-md">
  {{ end }}
  <h4 class="text-xl font-semibold mb-3">
    <a href="{{ .RelPermalink }}" class="text-blue-500 hover:text-blue-700">
      {{ .Title }}
    </a>
  </h4>
  {{ $categories := .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i, $p := $categories }}
          <a href="{{ `categories/` | relLangURL }}{{ $p | urlize | lower }}/" class="text-gray-600 hover:text-gray-800">
            {{ $p | humanize }}{{ if ne $i (sub (len $categories) 1) }},{{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="text-sm text-gray-600 mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>
