{{ define "main" }}
<section class="relative h-[500px] overflow-hidden"> <!-- Reduced height -->
  <!-- Carousel -->
  <div class="swiper h-full w-screen">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/gallery/group.jpg" class="w-full h-full object-cover" />
      </div>
      <div class="swiper-slide">
        <img src="/images/gallery/calday.jpg" class="w-full h-full object-cover" />
      </div>
      <div class="swiper-slide">
        <img src="/images/gallery/officers.jpg" class="w-full h-full object-cover" />
      </div>
    </div>
    <!-- Optional navigation -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Dark Tint Overlay -->
  <div class="carousel-overlay"></div>
  
  <!-- Banner Content -->
  <div class="absolute inset-0 flex flex-col justify-center items-center z-10 text-white text-center px-4">
    <div class="px-6 py-4">
      <h1 class="text-4xl font-bold mb-2 text-white">Society of Physics Students @ Berkeley</h1>
      <!-- Button with CSS -->
      <a href="/events" class="custom-button px-6 py-2 text-lg font-medium rounded-md">
        Check Out Upcoming Events
      </a>
    </div>
  </div>
</section>

<!-- Features section below -->
{{ range $i, $e := .Params.features }}
  <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
    <div class="container">
      <div class="row items-center justify-between">
        <div class="mb:md-0 {{ if not (modBool $i 2) }} md:order-2 {{ end }} md:col-5 mb-6">
          <img src="{{ .image }}" alt="{{ .title }}" class="w-full h-auto rounded-md shadow-md" />
        </div>
        <div class="{{ if not (modBool $i 2) }} md:order-1 {{ end }} md:col-7 lg:col-6">
          <h2 class="mb-4">
            {{ .title | markdownify }}
          </h2>
          <p class="mb-8 text-lg">
            {{ .content | markdownify }}
          </p>
          <ul>
            {{ range .bulletpoints }}
              <li class="relative mb-4 pl-6">
                <i class="fa fa-atom absolute left-0 top-1.5"></i>
                {{ . | markdownify }}
              </li>
            {{ end }}
          </ul>
          {{ with .button }}
            {{ if .enable }}
              <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
{{ end }}
